* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

@font-face {
	src: local("fonts/Lato/Lato-Regular.ttf") format("ttf");
	font-family: "Lato"
}

body {
	display: flex;
	background-color: white;
	height: 100vh;
	width: 100vw;
	font-size: 8vmin;
	font-family: 'Lato', sans-serif;
	overflow: hidden;
	position: fixed;
}

main {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

h1 {
	font-weight: 700;
	font-size: 1em;
	text-align: center;
}

a.start {
	color: black;
	text-decoration: none;
	font-size: .7em;
	padding: .3vh .6vw;
	border: solid black .3vmin;
	border-radius: .4vw;
}

a.start:hover {
	background-color: #383838;
	color: white;
}

section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	height: 75%;
	padding: 0
}

.previous-page, .next-page {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3vw;
	cursor: pointer;
	font-weight: normal;
	font-size: .72em;
	text-decoration: none;
	color: black;
	padding: 1vh;
}

.previous-page {
	left: 2;
}

.next-page {
	right: 2;
}

div.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 90%;
	width: 65%;
}

p.text {
	width: 70%;
	color: black;
	padding: 1vh;
	text-align: justify;
	word-wrap: normal;
	font-size: 2.6vmin;
	font-family: 'Lato', sans-serif;
}

div.animation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 35%;
	height: 70%;
}


/* Começo do CSS dos gráficos*/
 
.sliders-superior {
	background-color: #fafafa;
	width: 80vw
}

@font-face{
	font-family: "Roboto";
	src: local("Roboto/Roboto-Black.ttf") format("ttf")
}
.sliders-container{
	margin-bottom: 1em;
}

p.legenda{
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 1.8vh;
	color: #ffffff;
	background-color: #222222;
	padding: 0.3em 0 0.3em 0.5em
}
.graph-container{
	display: flex;
}

.button-container {
	background-color: black;
	border-radius: 0 0 15px 0;
	height: 10vh;
	display: flex;
	flex-direction: row;
	padding: 0.2em 0.5em 0.2em 0;
	align-items: center
}

button {
	border-radius: 10%;
	font-size: 2.2vh;
	border: none;
	text-decoration: none;
	background-color: white;
	height: 2em;
	color: black;
	margin: 0 1vh 0 1vh
}
input.slider{
	background-color: transparent;
	width: 70%
}
input.slider::-webkit-range-thumb {
	background-color: black;
	border: none;
	height: 2.5vh;
	width: 2.5vh;
	border-radius: 100%
}
input.slider::-webkit-range-track{
	background-color: #aaaaaa;
	height: 0.5vh;
}

div.graphic{
	width: 50%;
	height: 90%;
	flex-direction: row
}

/* Fim do CSS dos gráficos*/


span {
	font-weight: bold;
}

.sidecard, .navbar, .concept {
	background-color: white;
}

div.sidecard {
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 0;
	bottom: -30vh;
	overflow: hidden;
	padding: 2vh;
	width: 38vw;
	height: 30vh;
	border: solid .3vh black;
	transition: 1s ease-in;
}

.navbar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	border: .5px solid black;
	background-color: white;
	margin-bottom: 1%;
}

.top-sidecard, .close-sidecard {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2vh;
	font-weight: bold;
}

div.top-sidecard {
	align-content: center;
	height: 4vh;
	width: 100%;
}

div.close-sidecard {
	text-align: center;
	height: 100%;
	width: 20%
}

p.concept {
	font-size: 2.6vmin;
	font-weight: normal;
	text-align: justify;
	overflow-wrap: break-word;
	background-color: white;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	width: 100%;
	height: 15%;
	background-color: #383838;
	font-family: 'Lato', sans-serif;
	color: white;
	position: fixed;
	bottom: 0;
}

a.slides {
	background-color: #383838;
	border: 0.05em solid white;
	border-radius: 100%;
	margin-left: 0.3vw;
	width: 6vmin;
	height: 6vmin;
}

a.slides:hover, #current, div.sub-slides > a{
	background-color: white;
}

div.popup {
	display: none;
	height: 3.5vh;
	width: 8vw;
	background-color: #5e5555;
	border-radius: 10%;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: .30em;
	text-align: center;
	position: fixed;
	bottom: 11.2vh;
}

@media (max-aspect-ratio: 1/1){
	h1 {
		font-size: .8em;
		padding-bottom: 3vh;
	}
	
	div.content {
		flex-direction: column;
		height: 100%;
		width: 60%;
	}

	div.section {
		justify-content: space-around;
		align-items: flex-start;
		height: 75vh;
	}

	p.text {
		font-size: 2.8vmin;
		width: 80%;
	}
	
	div.animation {
		width: 85%;
		height: 65%;
	}
	
	div.sidecard {
		width: 50vw;
	}

	div.top-sidecard {
		font-size: .34em;
	}

	p.concept {
		font-size: .4em;
	}
	
	a.slides {
		width: 9vmin;
		height: 9vmin;
	}
}
